[submodule "zlib"]
	path = zlib
    url = https://github.com/madler/zlib
    ignore = dirty
[submodule "sourcemod-central"]
	path = sourcemod-central
	url = https://github.com/pmrowla/sourcemod-central.git
